@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

:root {
  --primary-color: #095771 ;
  --secondary-color: #118AB2;
  --accent1-color: #EBEBEB;
  --accent2-color: #DC3535;

  --heading-font: "Rock Salt", serif;
  --paragraph-font: "IBM Plex Sans", serif;

  --nav-background-color: #EBEBEB;
  --nav-link-color: #118AB2;
  --nav-hover-link-color: #095771;
  --nav-hover-background-color: #EBEBEB;
}

