@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
  --primary-color: #095771;
  --secondary-color: #118AB2;
  --accent1-color: #EBEBEB;
  --accent2-color: #DC3535;

  --heading-font: "Rock Salt", serif;
  --paragraph-font: "IBM Plex Sans", serif;

  --nav-background-color: #EBEBEB;
  --nav-link-color: #118AB2;
  --nav-hover-link-color: #095771;
  --nav-hover-background-color: #EBEBEB;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container h2 {
  margin-top: 0;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-group input[type="radio"] {
  margin-right: 5px;
}
.form-group .radio-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.form-group .radio-group label {
  display: inline-block;
}
.form-group input[type="checkbox"] {
  margin-right: 5px;
}
.submit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #118AB2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  background-color: #d3c8eb;
  padding: 10px;
}

.logo img {
  max-width: 100px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
}


.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero {
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 1rem;
  background-color: rgb(9, 87, 113, .5);
}

.hero article {
  position: absolute;
  background-color: rgb(9, 87, 113, .5);
  color: white;
  top: 8rem;
  width: 80%;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.hero article img {
  float: right;
  width: 200px;
}

.sociallinks {
  text-decoration: none;
}

.history {
  padding: 20px;
  background-color: #f3f3f3;
}

.history-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history-content img {
  max-width: 200px;
  margin: 0 20px;
}

.adventures {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.adventures figure {
  text-align: center;
}

.adventures img {
  max-width: 150px;
  height: auto;
}

footer {
  display: flex;
  justify-content: flex-end;
  background-color: #d3c8eb;
  padding: 10px;
}

footer .social-icons {
  display: flex;
  gap: 10px;
}

footer .social-icons img {
  max-width: 30px;
  height: auto;
}