@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Rock+Salt&display=swap');
body {
   font-family: var(--IBM-Plex-Sans);
   max-width: 960px;
   padding: 20px;
}

:root {
   --primary-color: #095771 ;
   --secondary-color: #118AB2;
   --accent1-color: #EBEBEB;
   --accent2-color: #DC3535;

   --heading-font: "Rock Salt", serif;
   --paragraph-font: "IBM Plex Sans", serif;

   --nav-background-color: #EBEBEB;
   --nav-link-color: #118AB2;
   --nav-hover-link-color: #095771;
   --nav-hover-background-color: #EBEBEB;
}

body {
   font-family: var(--IBM-Plex-Sans);
   max-width: 960px;
   padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
   font-family: var(--Rock-salt);
   color: var(--#095771);
}

 header {
   padding: 20px;
   background-color: var(--#EBEBEB);
   
 }   

 header, footer {
  max-width: 840;
  margin: auto;
 }

 p {
   padding: 25px;
 }

 nav {
   background-color: steelblu;
   padding: 1rem;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
 }

 nav a {
   display: block;
   padding: 0.5rem;
   text-decoration: none;
   color: #fff;
 }

 nav a:link, nav a:visited {
   color: var(--#118AB2);
 }

 nav a:hover {
   color: var(--#095771);
   background-color: var(--#EBEBEB);
 }
header, .gride, footer{
  max-width:840px;
  margin: 0 auto;
}
 